SPRING_PROFILES_ACTIVE=prod
DB_URL="jdbc:mysql://mysql:3306/codoc?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8"
DB_USER=codoc
DB_PASS=changeme
DDL_AUTO=validate
MYSQL_DATABASE=codoc
MYSQL_ROOT_PASSWORD=changeme
JWT_SECRET=
JWT_COOKIE_SECURE=true
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=
KAKAO_ADMIN_KEY=
KAKAO_SCOPE=

APP_FRONTEND_BASE_URL=http://localhost:5173
APP_AI_SERVER_BASE_URL=http://localhost:8000
APP_NOTIFICATION_MQ_ENABLED=false
APP_NOTIFICATION_MQ_EXCHANGE=notification.event
APP_NOTIFICATION_MQ_INAPP_QUEUE=notification.inapp.q
APP_NOTIFICATION_MQ_PUSH_QUEUE=notification.push.q

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

SWAGGER_UI_PATH=
SWAGGER_API_DOCS_PATH=

RATE_LIMIT_CHATBOT_STREAM_ENABLED=
RATE_LIMIT_CHATBOT_STREAM_LIMIT=
RATE_LIMIT_CHATBOT_STREAM_PERIOD=
RATE_LIMIT_CHATBOT_STREAM_CONSUME=

RATE_LIMIT_GLOBAL_ENABLED=
RATE_LIMIT_GLOBAL_LIMIT=
RATE_LIMIT_GLOBAL_PERIOD=
RATE_LIMIT_GLOBAL_CONSUME=

# Sentry
SENTRY_AUTO_INIT=
JAVA_TOOL_OPTIONS=
OTEL_TRACES_EXPORTER=
OTEL_LOGS_EXPORTER=
OTEL_METRICS_EXPORTER=
SENTRY_DSN=
SENTRY_ENVIRONMENT=
SENTRY_SERVER_NAME=
SENTRY_RELEASE=
SENTRY_SEND_DEFAULT_PII=
SENTRY_TRACES_SAMPLE_RATE=
SENTRY_PROFILE_SESSION_SAMPLE_RATE=
SENTRY_PROFILE_LIFECYCLE=
SENTRY_LOGS_ENABLED=

# Caffeine
APP_CACHE_CAFFEINE_DEFAULT_SPEC=
APP_CACHE_CAFFEINE_DEFAULT_NEGATIVE_SPEC=