SPRING_PROFILES_ACTIVE=prod
DB_URL="jdbc:mysql://mysql:3306/codoc?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8"
DB_USER=codoc
DB_PASS=changeme
DDL_AUTO=validate
MYSQL_DATABASE=codoc
MYSQL_ROOT_PASSWORD=changeme
JWT_SECRET=
JWT_COOKIE_SECURE=true
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=
KAKAO_ADMIN_KEY=
KAKAO_SCOPE=

APP_FRONTEND_BASE_URL=http://localhost:5173
APP_AI_SERVER_BASE_URL=http://localhost:8000
