spring:
  application:
    name: codoc
  jackson:
    time-zone: Asia/Seoul

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:validate}

jwt:
  secret: ${JWT_SECRET}
  access-token-ttl-minutes: 15
  refresh-token-ttl-days: 7

app:
  ai-server:
    base-url: ${APP_AI_SERVER_BASE_URL:http://localhost:8000}
    base-timeout: 3000s
