spring:
  application:
    name: codoc-dev

springdoc:
  swagger-ui:
    try-it-out-enabled: false
    supported-submit-methods: []
    path: ${SWAGGER_UI_PATH:/swagger-ui.html}
    enabled: true
  api-docs:
    path: ${SWAGGER_API_DOCS_PATH:/v3/api-docs}
    enabled: true