<configuration debug="false">

  <property name="LOG_DIR" value="${LOG_DIR:-/home/ubuntu/be/logs}" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/access.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/access.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>

    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp><fieldName>timestamp</fieldName></timestamp>
        <logLevel><fieldName>level</fieldName></logLevel>
        <mdc><fieldName>_mdc</fieldName></mdc>
        <message><fieldName>message</fieldName></message>
        <provider class="_ganzi.codoc.global.log.LogstashFixedSchemaProvider"/>
      </providers>
    </encoder>
  </appender>

  <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>

    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp><fieldName>timestamp</fieldName></timestamp>
        <logLevel><fieldName>level</fieldName></logLevel>
        <mdc><fieldName>_mdc</fieldName></mdc>
        <message><fieldName>message</fieldName></message>
        <stackTrace><fieldName>stacktrace</fieldName></stackTrace>
        <provider class="_ganzi.codoc.global.log.LogstashFixedSchemaProvider"/>
      </providers>
    </encoder>
  </appender>

  <logger name="ACCESS_LOG" level="INFO" additivity="false">
    <appender-ref ref="ACCESS_FILE"/>
  </logger>

  <logger name="ERROR_LOG" level="INFO" additivity="false">
    <appender-ref ref="ERROR_FILE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
